@import "../common/variables.less";
@import "../common/mixins.less";

.about {
  padding: min(3.1rem) 0 min(1.6rem);
  background-color: @color-primary;

  @media (min-width: @tablet) {
    padding: min(5.5rem) 0 min(8.3rem);
  }

  @media (min-width: @desktop) {
    padding: min(6.8rem) 0 min(9rem);
  }
}

.about__wrapper {
  @media (min-width: @desktop) {
    padding: 0 min(17.4rem);
  }
}

.about__title {
  margin: 0;
  margin-bottom: min(2.8rem);

  @media (min-width: @tablet) {
    margin-bottom: min(4.1rem);
  }

  @media (min-width: @desktop) {
    margin-bottom: min(3.9rem);
  }
}

.about__list {
  .list-reset();
  display: grid;

  @media (min-width: @tablet) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: min(5.8rem);
    column-gap: min(7rem);
  }

  @media (min-width: @desktop) {
    column-gap: min(8.5rem);
  }
}

.about__item {
  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
  }

  &--ecological {
    margin-bottom: min(2.9rem);

    &::before {
      width: min(3.3rem);
      height: min(3.8rem);
      margin-bottom: min(1.7rem);
      margin-left: min(0.8rem);
      background-image: url("../img/sprite.svg#ecological");

      @media (min-width: @tablet) {
        margin-bottom: min(1.8rem);
      }
    }

    @media (min-width: @tablet) {
      order: 1;
    }
  }

  &--cheap {
    margin-bottom: min(3.4rem);

    &::before {
      width: min(4.7rem);
      height: min(2.7rem);
      margin-bottom: min(2.7rem);
      background-image: url("../img/sprite.svg#cheap");

      @media (min-width: @tablet) {
        margin-bottom: min(2.6rem);
      }
    }

    @media (min-width: @tablet) {
      order: 3;
    }
  }

  &--likes {
    margin-bottom: min(3.1rem);

    &::before {
      width: min(3.4rem);
      height: min(2.7rem);
      margin-bottom: min(2.2rem);
      margin-left: min(0.7rem);
      background-image: url("../img/sprite.svg#likes");

      @media (min-width: @tablet) {
        margin-bottom: min(2.1rem);
      }
    }

    @media (min-width: @tablet) {
      order: 5;
    }
  }

  &--lovingly {
    margin-bottom: min(3.2rem);

    &::before {
      width: min(3.5rem);
      height: min(3.5rem);
      margin-bottom: min(1.7rem);
      margin-left: min(0.3rem);
      background-image: url("../img/sprite.svg#lovingly");

      @media (min-width: @tablet) {
        margin-bottom: min(1.9rem);
      }

      @media (min-width: @desktop) {
        margin-bottom: min(1.8rem);
      }
    }

    @media (min-width: @tablet) {
      order: 2;
    }
  }

  &--support {
    margin-bottom: min(3.1rem);

    &::before {
      width: min(5.5rem);
      height: min(2.3rem);
      margin-bottom: min(2.7rem);
      margin-left: min(-0.6rem);
      background-image: url("../img/sprite.svg#support");

      @media (min-width: @tablet) {
        margin-bottom: min(2.8rem);
      }
    }

    @media (min-width: @tablet) {
      order: 4;
    }
  }

  &--gift {
    margin-bottom: min(1.2rem);

    &::before {
      width: min(3.3rem);
      height: min(3.2rem);
      margin-bottom: min(2.1rem);
      margin-left: min(0.3rem);
      background-image: url("../img/sprite.svg#gift");

      @media (min-width: @tablet) {
        margin-bottom: min(2.1rem);
      }
    }

    @media (min-width: @tablet) {
      order: 6;
    }
  }
}

.about__text {
  margin: 0;
  font-size: min(1.7rem);
  line-height: min(2rem);
  font-weight: 700;

  @media (min-width: @tablet) {
    font-size: min(2rem);
    line-height: min(2.2rem);
  }
}
