@import "../common/variables.less";
@import "../common/mixins.less";

.about {
  padding: min(3.1rem, 46px) 0 min(1.6rem, 24px);
  background-color: @color-primary;

  @media (min-width: @tablet) {
    padding: min(5.6rem, 71px) 0 min(1.8rem, 23px);
  }

  @media (min-width: @desktop) {
    padding: min(6.8rem, 113px) 0 min(2.6rem, 43px);
  }
}

.about__wrapper {
  @media (min-width: @desktop) {
    padding: 0 min(17.4rem, 290px);
  }
}

.about__title {
  margin: 0;
  margin-bottom: min(2.8rem, 42px);

  @media (min-width: @tablet) {
    margin-bottom: min(4.1rem, 52px);
  }

  @media (min-width: @desktop) {
    margin-bottom: min(3.9rem, 65px);
  }
}

.about__list {
  .list-reset();
  display: grid;

  @media (min-width: @tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about__item {
  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
  }

  &--ecological {
    margin-bottom: min(2.9rem, 44px);

    &::before {
      width: min(3.3rem, 49px);
      height: min(3.8rem, 57px);
      margin-bottom: min(1.7rem, 25px);
      margin-left: min(0.8rem, 12px);
      background-image: url("../img/sprite.svg#ecological");

      @media (min-width: @tablet) {
        width: min(3.3rem);
        height: min(3.8rem);
        margin-bottom: min(1.9rem, 24px);
      }

      @media (min-width: @desktop) {
        width: min(3.3rem, 55px);
        height: min(3.8rem, 63px);
        margin-bottom: min(1.9rem, 32px);
      }
    }

    @media (min-width: @tablet) {
      order: 1;
      margin-bottom: min(5.7rem, 73px);
    }

    @media (min-width: @desktop) {
      margin-bottom: min(5.7rem, 95px);
    }
  }

  &--cheap {
    margin-bottom: min(3.4rem, 51px);

    &::before {
      width: min(4.7rem, 70px);
      height: min(2.7rem, 40px);
      margin-bottom: min(2.7rem, 40px);
      background-image: url("../img/sprite.svg#cheap");

      @media (min-width: @tablet) {
        width: min(4.7rem);
        height: min(2.7rem);
        margin-bottom: min(2.6rem, 33px);
      }

      @media (min-width: @desktop) {
        width: min(4.7rem, 78px);
        height: min(2.7rem, 45px);
        margin-bottom: min(2.6rem, 43px);
      }
    }

    @media (min-width: @tablet) {
      order: 3;
      margin-bottom: min(6.3rem, 80px);
    }

    @media (min-width: @desktop) {
      margin-bottom: min(6.3rem, 105px);
    }
  }

  &--likes {
    margin-bottom: min(3.1rem, 46px);

    &::before {
      width: min(3.4rem, 51px);
      height: min(2.7rem, 40px);
      margin-bottom: min(2.2rem, 33px);
      margin-left: min(0.7rem, 10px);
      background-image: url("../img/sprite.svg#likes");

      @media (min-width: @tablet) {
        width: min(3.4rem);
        height: min(2.7rem);
        margin-bottom: min(2.1rem, 27px);
      }

      @media (min-width: @desktop) {
        width: min(3.4rem, 57px);
        height: min(2.7rem, 45px);
        margin-bottom: min(2.1rem, 35px);
      }
    }

    @media (min-width: @tablet) {
      order: 5;
      margin-bottom: min(6.3rem, 80px);
    }

    @media (min-width: @desktop) {
      margin-bottom: min(6.3rem, 105px);
    }
  }

  &--lovingly {
    margin-bottom: min(3.2rem, 48px);

    &::before {
      width: min(3.5rem, 52px);
      height: min(3.5rem, 52px);
      margin-bottom: min(1.7rem, 25px);
      margin-left: min(0.3rem, 4px);
      background-image: url("../img/sprite.svg#lovingly");

      @media (min-width: @tablet) {
        width: min(3.5rem);
        height: min(3.5rem);
        margin-bottom: min(2.3rem, 29px);
      }

      @media (min-width: @desktop) {
        width: min(3.5rem, 58px);
        height: min(3.5rem, 58px);
        margin-bottom: min(2.2rem, 37px);
      }
    }

    @media (min-width: @tablet) {
      order: 2;
      margin-bottom: min(5.7rem, 73px);
    }

    @media (min-width: @desktop) {
      margin-bottom: min(5.7rem, 95px);
    }
  }

  &--support {
    margin-bottom: min(3.1rem, 46px);

    &::before {
      width: min(5.5rem, 82px);
      height: min(2.3rem, 34px);
      margin-bottom: min(2.7rem, 40px);
      margin-left: max(-0.6rem, -9px);
      background-image: url("../img/sprite.svg#support");

      @media (min-width: @tablet) {
        width: min(5.5rem);
        height: min(2.3rem);
        margin-bottom: min(3rem, 38px);
      }

      @media (min-width: @desktop) {
        width: min(5.5rem, 92px);
        height: min(2.3rem, 38px);
        margin-bottom: min(3rem, 50px);
      }
    }

    @media (min-width: @tablet) {
      order: 4;
      margin-bottom: min(6.3rem, 80px);
    }

    @media (min-width: @desktop) {
      margin-bottom: min(6.3rem, 105px);
    }
  }

  &--gift {
    margin-bottom: min(1.2rem, 18px);

    &::before {
      width: min(3.3rem, 49px);
      height: min(3.2rem, 48px);
      margin-bottom: min(2.1rem, 31px);
      margin-left: min(0.3rem, 4px);
      background-image: url("../img/sprite.svg#gift");

      @media (min-width: @tablet) {
        width: min(3.3rem);
        height: min(3.2rem);
        margin-bottom: min(1.6rem, 20px);
      }

      @media (min-width: @desktop) {
        width: min(3.3rem, 55px);
        height: min(3.2rem, 53px);
        margin-bottom: min(1.6rem, 27px);
      }
    }

    @media (min-width: @tablet) {
      order: 6;
      margin-bottom: min(6.3rem, 80px);
    }

    @media (min-width: @desktop) {
      margin-bottom: min(6.3rem, 105px);
    }
  }
}

.about__text {
  margin: 0;
  font-size: min(1.7rem, 25px);
  line-height: min(2rem, 30px);
  font-weight: 700;

  @media (min-width: @tablet) {
    font-size: min(2rem, 25px);
    line-height: min(2.2rem, 28px);
  }

  @media (min-width: @tablet) {
    font-size: min(2rem, 33px);
    line-height: min(2.2rem, 37px);
  }
}
