@import "../common/variables";
@import "../common/mixins.less";

.cards {
  .list-reset();
  display: grid;
  gap: min(3rem, 45px);
  padding: min(3rem, 45px) 0;

  @media (min-width: @tablet) {
    gap: min(5.4rem, 69px);
    padding: min(5.3rem, 68px) 0;
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(auto-fill, min(31.6rem, 527px));
    gap: min(5.1rem, 85px);
    padding: min(5.7rem, 95px) 0;
  }
}
