@import "../common/variables.less";

.card {
  display: grid;

  @media (min-width: @tablet) and (max-width: 1023px) {
    grid-template-columns: min(33.3rem, 426px) 1fr;
  }

  @media (min-width: @desktop) {
    grid-template-rows: min(46.2rem, 771px) auto;
  }
}

.card__image-link {
  width: 100%;

  @media (min-width: @tablet) and (max-width: 1023px) {
    width: min(33.4rem, 426px);
    height: min(33.4rem, 426px);
  }

  @media (min-width: @desktop) {
    width: min(31.6rem, 527px);
    height: min(46.2rem, 771px);
  }
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card__content {
  padding: min(2.7rem, 40px) min(2.8rem, 42px) 0;
  border: 1px solid #ececec;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: min(2.7rem, 34px) min(3.3rem, 42px) 0;
  }

  @media (min-width: @desktop) {
    padding: min(2.7rem, 45px);
    padding-bottom: 0;
  }
}

.card__header {
  @media (min-width: @desktop) {
    margin-bottom: min(1.2rem, 20px);
  }
}

.card__title-link {
  display: block;
  margin-bottom: min(0.6rem, 9px);
  text-decoration: none;

  @media (min-width: @tablet) {
    margin-bottom: min(0.6rem, 8px);
  }

  @media (min-width: @desktop) {
    margin-bottom: min(0.6rem, 10px);
  }

  &:focus-visible {
    outline: 2px solid rgba(0, 0, 0, 0.6);
  }
}

.card__title-link:hover .card__title,
.card__title-link:focus .card__title {
  color: rgba(0, 0, 0, 0.6);
}

.card__title {
  margin: 0;
  font-size: min(1.7rem, 25px);
  line-height: min(2.4rem, 36px);
  font-weight: 700;
  color: @text-primary;

  @media (min-width: @tablet) {
    font-size: min(2rem, 25px);
    line-height: min(2.4rem, 31px);
  }

  @media (min-width: @desktop) {
    font-size: min(2rem, 33px);
    line-height: min(2.4rem, 40px);
  }
}

.card__description {
  margin: 0;
  margin-bottom: min(1.7rem, 25px);
  font-size: min(1.3rem, 19px);
  line-height: min(3rem, 45px);
  color: @text-secondary;

  @media (min-width: @tablet) {
    margin-bottom: 0;
    font-size: min(1.5rem, 19px);
    line-height: min(3rem, 38px);
  }

  @media (min-width: @desktop) {
    font-size: min(1.5rem, 25px);
    line-height: min(3rem, 50px);
  }
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-top: 1px solid #ececec;
}

.card__price {
  font-size: min(1.5rem, 22px);
  line-height: min(2.4rem, 36px);
  font-weight: 700;

  @media (min-width: @tablet) {
    font-size: min(1.7rem, 22px);
    line-height: min(2.4rem, 31px);
  }

  @media (min-width: @desktop) {
    font-size: min(1.7rem, 28px);
    line-height: min(2.4rem, 40px);
  }
}

.card__button {
  width: min(7.2rem, 108px);
  height: min(7.2rem, 108px);
  display: grid;
  align-items: center;
  justify-content: end;

  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: @tablet) {
    width: min(7.2rem, 92px);
    height: min(7.2rem, 92px);
  }

  @media (min-width: @desktop) {
    width: min(7.2rem, 120px);
    height: min(7.2rem, 120px);
  }

  &:hover .card__button-icon,
  &:focus .card__button-icon {
    color: @color-accent;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: none;
  }
}

.card__button-icon {
  width: min(2rem, 30px);
  height: auto;
  object-fit: contain;
  color: rgba(0, 0, 0, 0.2);

  @media (min-width: @tablet) {
    width: min(2rem, 26px);
  }

  @media (min-width: @desktop) {
    width: min(2rem, 33px);
  }
}
