@import "../common/variables";

.checkbox__input {
  display: grid;
  place-content: center;
  appearance: none;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 2px solid @text-secondary;

  @media (min-width: @tablet) {
    width: 52px;
    height: 52px;
  }

  @media (min-width: @desktop) {
    width: 52px;
    height: 52px;
  }

  &:checked::after {
    content: "";
    width: 24px;
    height: 17px;
    background-image: url("../img/sprite.svg#tick");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet) {
      width: 31;
      height: 22px;
    }

    @media (min-width: @desktop) {
      width: 31;
      height: 22px;
    }
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: rgba(0, 0, 0, 0.3);
  }
}
