@import "../common/variables.less";
@import "../common/mixins.less";

.contacts {
  padding: min(3.8rem, 57px) 0 min(3.9rem, 58px);

  @media (min-width: @tablet) {
    padding: min(6.9rem, 88px) 0 min(5.7rem, 73px);
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: min(52.3rem, 873px) min(52.7rem, 879px);
    grid-template-rows: repeat(3, auto);
    column-gap: min(5.1rem, 85px);
    padding: min(7rem, 117px) 0 min(10.5rem, 175px);
  }
}

.contacts__wrapper {
  @media (min-width: @tablet) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: max(-2.3rem, -29px);
      right: min(0.3rem, 4px);
      width: min(4.7rem, 60px);
      height: min(8.1rem, 103px);
      background-image: url("../img/sprite.svg#flag");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  @media (min-width: @desktop) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: min(17.4rem, 290px);

    &::before {
      top: max(-1.7rem, -28px);
      right: 0;
      left: min(6.3rem, 105px);
      width: min(4.7rem, 78px);
      height: min(8.1rem, 135px);
    }
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: min(3rem, 45px);

  @media (min-width: @tablet) {
    margin-bottom: min(4.9rem, 62px);
  }

  @media (min-width: @desktop) {
    margin-bottom: min(3.3rem, 55px);
  }
}

.contacts__list {
  .list-reset();
  display: grid;
  row-gap: min(3.3rem, 50px);
  margin-bottom: min(6.1rem, 91px);

  @media (min-width: @tablet) and (max-width: 1023px) {
    grid-template-columns: min(30.9rem, 394px) auto;
    gap: min(2.5rem, 32px);
    margin-bottom: min(4.8rem, 61px);
  }

  @media (min-width: @desktop) {
    row-gap: min(2.6rem, 43px);
    margin-bottom: min(8.4rem, 140px);
  }
}

.contacts__address {
  display: grid;
  grid-template-columns: min(7.6rem, 114px) auto;
  font-size: min(1.4rem, 21px);
  line-height: min(2.5rem, 37px);
  font-style: normal;
  color: @text-secondary;

  @media (min-width: @tablet) {
    grid-template-columns: min(7.8rem, 100px) auto;
    font-size: min(1.7rem, 22px);
    line-height: min(3rem, 38px);
  }

  @media (min-width: @desktop) {
    grid-template-columns: min(7.8rem, 130px) auto;
    font-size: min(1.7rem, 28px);
    line-height: min(3rem, 50px);
  }
}

.contacts__label {
  text-transform: lowercase;
}

.contacts__email {
  position: relative;
  width: fit-content;
  text-decoration: none;
  color: @text-secondary;
  border-bottom: 1px solid #62d1ba;
  transition: color 0.3s linear, border-color 0.3s linear;

  @media (min-width: @desktop) {
    line-height: min(3.5rem, 58px);
  }

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    border-color: rgba(70, 193, 174, 0.1);
  }
}

.contacts__location {
  line-height: min(3rem, 45px);

  @media (min-width: @tablet) {
    line-height: min(3rem, 50px);
  }
}

.contacts__map {
  width: 100%;
  height: min(45.5rem, 682px);
  margin-bottom: min(4.2rem, 63px);

  @media (min-width: @tablet) {
    height: min(45.5rem, 580px);
    margin-bottom: min(5.5rem, 70px);
  }

  @media (min-width: @desktop) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    height: 100%;
    margin-bottom: 0;
  }
}

.contacts__map-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contacts__button {
  width: calc(100% - 60px);
  margin: 0 auto;

  @media (min-width: @tablet) {
    max-width: min(23rem, 293px);
  }

  @media (min-width: @desktop) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    max-width: min(23rem, 384px);
    margin-left: min(22.5rem, 352px);
  }
}
