@import "../common/variables.less";

.decor {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: min(0.6rem);
    background-image: url("../img/sprite.svg#zigzag");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      height: max(1.7rem, 17px);
      background-image: url("../img/sprite.svg#zigzag-tablet");
    }

    @media (min-width: @desktop) {
      width: calc(100% - 100px);
      height: clamp(23px, 2.3rem, 38px);
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../img/sprite.svg#zigzag-desktop");
    }
  }
}
