@import "../common/variables.less";

.feedback__description {
  margin: 0;
  margin-bottom: min(3.4rem, 51px);
  font-size: min(1.5rem, 22px);
  line-height: min(3rem, 45px);
  color: @text-secondary;

  @media (min-width: @tablet) {
    margin-bottom: min(6rem, 76px);
    font-size: min(1.7rem);
  }

  @media (min-width: @desktop) {
    margin-bottom: min(4.4rem, 73px);
    font-size: min(1.7rem, 28px);
    line-height: min(3rem, 50px);
  }
}

.feedback__author {
  font-size: min(1.7rem, 25px);
  line-height: min(2.4rem, 36px);
  font-weight: 700;
  font-style: normal;

  @media (min-width: @tablet) {
    font-size: min(1.8rem);
  }

  @media (min-width: @desktop) {
    font-size: min(1.7rem, 28px);
    line-height: min(2.4rem, 40px);
  }
}

.feedback__tag {
  display: block;
  margin-top: min(0.6rem, 9px);
  font-weight: 400;
  text-decoration: none;
  color: @text-secondary;

  @media (min-width: @tablet) {
    margin-top: min(0.4rem);
    font-size: min(1.7rem);
    line-height: min(3rem);
  }

  @media (min-width: @desktop) {
    margin-top: min(0.4rem, 7px);
    font-size: min(1.7rem, 28px);
    line-height: min(3rem, 50px);
  }
}
