@import "../common/variables.less";

.field {
  font-family: @font-primary;
  font-size: min(1.7rem, 25px);
  line-height: min(1.8rem, 27px);
  color: @text-primary;
  transition: border 0.3s linear;

  @media (min-width: @tablet) {
    font-size: min(1.9rem, 24px);
    line-height: min(1.8rem, 23px);
  }

  @media (min-width: @desktop) {
    font-size: min(1.9rem, 32px);
    line-height: min(1.8rem, 30px);
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover,
  &:active,
  &:focus {
    border-color: #62d1ba;
    outline: none;
  }
}
