@import "../common/variables.less";

.footer {
  background-color: @color-secondary;
  padding: min(2.7rem, 40px) 0 min(2.3rem, 34px);

  @media (min-width: @tablet) {
    padding: min(5.1rem, 65px) 0 min(5.8rem, 74px);
  }

  @media (min-width: @desktop) {
    padding: min(5.1rem, 85px) 0 min(5.8rem, 97px);
  }
}

.footer__wrapper {
  display: grid;

  @media (min-width: @tablet) {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    grid-auto-flow: dense;
    row-gap: min(1rem, 13px);
  }

  @media (min-width: @desktop) {
    row-gap: min(1rem, 17px);
  }
}

.footer__logo {
  @media (max-width: @mobile) {
    display: none;
  }

  @media (min-width: @tablet) {
    grid-column: 1 / 2;
  }
}

.footer__social {
  width: 100%;
  padding-bottom: min(3.1rem, 46px);
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet) {
    grid-column: 2 / 3;
    justify-self: start;
    width: min(14.2rem, 213px);
    margin: 0;
    padding: 0;
    padding-top: min(0.6rem, 8px);
    border: none;
  }

  @media (min-width: @desktop) {
    width: min(14.2rem, 237px);
    margin-left: min(6.4rem, 107px);
  }
}

.footer__copyright {
  width: min(18.2rem, 273px);
  margin: 0 auto;
  padding-top: min(2.2rem, 33px);

  @media (min-width: @tablet) {
    grid-column: 3 / 4;
    justify-self: end;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop) {
    width: min(18.2rem, 304px);
  }
}
