@import "../common/variables.less";
@import "../common/mixins.less";

.form__header {
  padding: 73px 0 73px;
  text-align: center;
  background-color: @color-secondary;
}

.form__title {
  margin: 0;
}

.form__wrapper {
  padding: 17px 0 55px;
}

.form__description {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
  color: @text-secondary;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--type {
    margin-bottom: 31px;
  }

  &--color {
    margin-bottom: 33px;
  }

  &--personal {
    margin-bottom: 34px;
  }

  &--extra {
    margin-bottom: 17px;
  }
}

.form__headline {
  position: relative;
  margin: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: @color-accent;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: 100%;
    height: 1px;
    background-color: #62d1ba;
    z-index: -1;
  }

  &--type {
    margin-bottom: 30px;
  }

  &--color {
    margin-bottom: 25px;
  }

  &--personal {
    margin-bottom: 29px;
  }

  &--special {
    margin-bottom: 4px;
  }

  &--extra {
    margin-bottom: 22px;
  }
}

.form__headline-text {
  padding-right: 24px;
  background-color: @color-primary;
}

.form__list {
  .list-reset();
  display: grid;

  &--type {
    gap: 12px;
  }

  &--color {
    gap: 23px;
  }

  &--name {
    gap: 22px;
    margin-bottom: 34px;
  }

  &--personal {
    gap: 34px;
  }
}

.form__item {
  display: grid;
}

.form__control {
  display: flex;
  align-items: center;

  &--type {
    gap: 19px;
  }

  &--color {
    gap: 23px;
  }
}

.form__input {
  margin: 0;
  flex-shrink: 0;
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.form__textarea {
  margin: 0;
  width: 100%;
  height: 142px;
  resize: vertical;
}

.form__footnote {
  margin: 0;
  margin-bottom: 30px;
}

.form__button {
  width: 100%;
}
