@import "../common/variables.less";
@import "../common/mixins.less";

.form__header {
  padding: 73px 0 73px;
  text-align: center;
  background-color: @color-secondary;

  @media (min-width: @tablet) {
    padding: 100px 0 75px;
  }
}

.form__title {
  margin: 0;
}

.form__wrapper {
  padding: 17px 0 55px;

  @media (min-width: @tablet) {
    padding: 54px 0 50px;
  }
}

.form__description {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
  color: @text-secondary;

  @media (min-width: @tablet) {
    max-width: 100%;
    margin-bottom: 63px;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 167px auto;
  }

  &--type {
    @media (max-width: @mobile) {
      margin-bottom: 31px;
    }

    @media (min-width: @tablet) {
      padding-bottom: 50px;
    }
  }

  &--color {
    @media (max-width: @mobile) {
      margin-bottom: 33px;
    }

    @media (min-width: @tablet) {
      padding: 50px 0;
    }
  }

  &--personal {
    @media (max-width: @mobile) {
      margin-bottom: 34px;
    }

    @media (min-width: @tablet) {
      padding-top: 50px;
    }
  }

  &--extra {
    @media (max-width: @mobile) {
      margin-bottom: 17px;
    }

    @media (min-width: @tablet) {
      padding: 50px 0 53px;
    }
  }
}

.form__headline {
  position: relative;
  margin: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: @color-accent;

  @media (min-width: @tablet) {
    margin: 0;
    padding: 18px 0;
  }

  &::after {
    @media (max-width: @mobile) {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      max-width: 100%;
      height: 1px;
      background-color: #62d1ba;
      z-index: -1;
    }
  }

  &--type {
    margin-bottom: 30px;
  }

  &--color {
    margin-bottom: 25px;
  }

  &--personal {
    margin-bottom: 29px;

    @media (min-width: @tablet) {
      padding: 0;
    }
  }

  &--special {
    margin-bottom: 4px;
  }

  &--extra {
    margin-bottom: 22px;
  }
}

.form__headline-text {
  @media (max-width: @mobile) {
    padding-right: 24px;
    background-color: @color-primary;
  }
}

.form__list {
  .list-reset();
  display: grid;

  &--type {
    gap: 12px;

    @media (min-width: @tablet) {
      gap: 24px;
    }
  }

  &--color {
    gap: 23px;

    @media (min-width: @tablet) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
    }
  }

  &--name {
    gap: 22px;
    margin-bottom: 34px;

    @media (min-width: @tablet) {
      gap: 24px;
      margin-bottom: 50px;
    }
  }

  &--personal {
    gap: 34px;

    @media (min-width: @tablet) {
      grid-column: 1 / -1;
      gap: 24px;
      padding: 50px 0;
    }
  }
}

.form__item {
  display: grid;

  &--personal {
    @media (min-width: @tablet) {
      grid-template-columns: 167px auto;
    }
  }
}

.form__control {
  display: flex;
  align-items: center;

  &--type {
    gap: 19px;

    @media (min-width: @tablet) {
      gap: 26px;
    }
  }

  &--color {
    gap: 23px;

    @media (min-width: @tablet) {
      gap: 30px;
    }
  }
}

.form__input {
  margin: 0;
  flex-shrink: 0;
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: @tablet) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form__textarea {
  margin: 0;
  width: 100%;
  height: 142px;
  resize: vertical;
}

.form__footer {
  @media (min-width: @tablet) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 230px auto;
    align-items: center;
    text-align: right;
  }
}

.form__footnote {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.form__button {
  width: 100%;

  @media (min-width: @tablet) {
    order: -1;
  }
}
