@import "../common/variables.less";
@import "../common/mixins.less";

.form__header {
  padding: min(7.3rem, 109px) 0 min(7.3rem, 109px);
  text-align: center;
  background-color: @color-secondary;

  @media (min-width: @tablet) {
    padding: min(10rem, 128px) 0 min(7.5rem, 96px);
  }

  @media (min-width: @desktop) {
    padding: min(10.1rem, 169px) 0 min(9.6rem, 160px);
  }
}

.form__title {
  margin: 0;
}

.form__wrapper {
  padding: min(1.7rem, 25px) 0 min(5.5rem, 82px);

  @media (min-width: @tablet) {
    padding: min(5.4rem, 69px) 0 min(5rem, 64px);
  }

  @media (min-width: @desktop) {
    padding: min(9.8rem, 164px) 0 min(5rem, 83px);
  }
}

.form__description {
  max-width: min(26rem, 390px);
  margin: 0 auto;
  margin-bottom: min(2.9rem, 43px);
  font-size: min(1.3rem, 19px);
  line-height: min(2.4rem, 36px);
  color: @text-secondary;

  @media (min-width: @tablet) {
    max-width: 100%;
    margin-bottom: min(6.3rem, 80px);
    font-size: min(1.7rem, 22px);
    line-height: min(3rem, 38px);
  }

  @media (min-width: @desktop) {
    width: min(70rem, 1169px);
    margin-bottom: min(6.2rem, 103px);
    font-size: min(1.7rem, 28px);
    line-height: min(3rem, 50px);
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: min(16.7rem, 213px) auto;
  }

  @media (min-width: @desktop) {
    grid-template-columns: min(17.4rem, 290px) auto;
  }

  &--type {
    @media (max-width: @mobile) {
      margin-bottom: min(3.1rem, 46px);
    }

    @media (min-width: @tablet) {
      padding-bottom: min(5rem, 64px);
    }

    @media (min-width: @desktop) {
      padding-bottom: min(4.9rem, 82px);
    }
  }

  &--color {
    @media (max-width: @mobile) {
      margin-bottom: min(3.3rem, 49px);
    }

    @media (min-width: @tablet) {
      padding: min(5rem, 64px) 0;
    }

    @media (min-width: @desktop) {
      padding: min(4.8rem, 80px) 0 min(5.2rem, 87px);
    }
  }

  &--personal {
    @media (max-width: @mobile) {
      margin-bottom: min(3.4rem, 51px);
    }

    @media (min-width: @tablet) {
      padding-top: min(5rem, 64px);
    }

    @media (min-width: @desktop) {
      padding-top: min(5rem, 83px);
    }
  }

  &--extra {
    @media (max-width: @mobile) {
      margin-bottom: min(1.7rem, 25px);
    }

    @media (min-width: @tablet) {
      padding: min(5rem, 64px) 0 min(5.3rem, 68px);
    }

    @media (min-width: @desktop) {
      padding: min(5rem, 83px) 0 min(4.9rem, 82px);
    }
  }
}

.form__headline {
  position: relative;
  margin: 0;
  font-size: min(1.7rem, 25px);
  line-height: min(1.6rem, 24px);
  font-weight: 700;
  text-transform: uppercase;
  color: @color-accent;

  @media (min-width: @tablet) {
    margin: 0;
    padding: min(1.8rem, 23px) 0;
  }

  @media (min-width: @desktop) {
    margin-left: min(4.6rem, 77px);
    font-size: min(1.7rem, 28px);
    line-height: min(1.6rem, 27px);
  }

  &::after {
    @media (max-width: @mobile) {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      max-width: 100%;
      height: 1px;
      background-color: #62d1ba;
      z-index: -1;
    }
  }

  &--type {
    margin-bottom: min(3rem, 45px);
  }

  &--color {
    margin-bottom: min(2.5rem, 37px);
  }

  &--personal {
    margin-bottom: min(2.9rem, 43px);

    @media (min-width: @tablet) {
      padding: 0;
    }
  }

  &--special {
    margin-bottom: min(0.4rem, 6px);
  }

  &--extra {
    margin-bottom: min(2.2rem, 33px);
  }
}

.form__headline-text {
  @media (max-width: @mobile) {
    padding-right: min(2.4rem, 36px);
    background-color: @color-primary;
  }
}

.form__list {
  .list-reset();
  display: grid;

  &--type {
    gap: min(1.2rem, 18px);

    @media (min-width: @tablet) {
      gap: min(2.4rem, 31px);
    }

    @media (min-width: @desktop) {
      gap: min(2.4rem, 40px);
    }
  }

  &--color {
    gap: min(2.3rem, 34px);

    @media (min-width: @tablet) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0;
      row-gap: min(2.4rem, 31px);
    }

    @media (min-width: @desktop) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: min(2.4rem, 40px);
    }
  }

  &--name {
    gap: min(2.2rem, 33px);
    margin-bottom: min(3.4rem, 51px);

    @media (min-width: @tablet) {
      gap: min(2.4rem, 31px);
      margin-bottom: min(5rem, 64px);
    }

    @media (min-width: @desktop) {
      gap: min(2.4rem, 40px);
      margin-bottom: min(5rem, 83px);
    }
  }

  &--personal {
    gap: min(3.4rem, 51px);

    @media (min-width: @tablet) {
      grid-column: 1 / -1;
      gap: min(2.4rem, 31px);
      padding: min(5rem, 64px) 0;
    }

    @media (min-width: @desktop) {
      gap: min(2.4rem, 40px);
      padding: min(5rem, 83px) 0;
    }
  }
}

.form__item {
  display: grid;
  position: relative;

  &--name {
    @media (min-width: @tablet) {
      display: flex;
      align-items: center;
      gap: min(2.5rem, 32px);
    }

    @media (min-width: @desktop) {
      width: min(70rem, 1169px);
      gap: min(2.5rem, 42px);
    }
  }

  &--personal {
    @media (min-width: @tablet) {
      grid-template-columns: min(16.7rem, 213px) auto;
    }

    @media (min-width: @desktop) {
      grid-template-columns: min(17.4rem, 290px) auto;
    }
  }
}

.form__control {
  display: flex;
  align-items: center;

  &--type {
    gap: min(1.9rem, 28px);

    @media (min-width: @tablet) {
      gap: min(2.6rem, 33px);
    }

    @media (min-width: @desktop) {
      gap: min(2.8rem, 47px);
    }
  }

  &--color {
    gap: min(2.3rem, 28px);

    @media (min-width: @tablet) {
      gap: min(3rem, 38px);
    }

    @media (min-width: @desktop) {
      gap: min(3rem, 50px);
    }
  }
}

// error

.form__error {
  position: absolute;
  bottom: max(-2rem, -30px);
  font-size: min(1.5rem, 25px);
  line-height: min(1.6rem, 27px);
  color: @color-error;

  @media (min-width: @tablet) {
    bottom: max(-2.6rem, -33px);
    font-size: min(1.7rem, 24px);
    line-height: min(1.6rem, 23px);
  }

  @media (min-width: @desktop) {
    bottom: max(-2.8rem, -46px);
    font-size: min(1.7rem, 32px);
    line-height: min(1.6rem, 30px);
  }
}

.form__item--personal .form__error {
  @media (min-width: @desktop) {
    margin-left: min(4.6rem, 77px);
  }
}

.form__item--error .form__input {
  border-color: @color-error;
}

.form__item--error .form__input--phone {
  background-image: url("../img/sprite.svg#phone-error");
}

.form__item--error .form__input--email {
  background-image: url("../img/sprite.svg#email-error");
}

.form__input {
  margin: 0;
  flex-shrink: 0;

  &--name {
    @media (min-width: @tablet) {
      flex-grow: 1;
    }
  }

  &--special {
    @media (min-width: @desktop) {
      width: min(70rem, 1169px);
    }
  }

  &--phone {
    background-image: url("../img/sprite.svg#phone");
    background-size: min(2.5rem, 37px) min(2.4rem, 36px);
    background-position: center right;

    @media (min-width: @desktop) {
      background-size: min(2.5rem, 42px) min(2.4rem, 40px);
    }
  }

  &--email {
    background-image: url("../img/sprite.svg#email");
    background-size: min(3.2rem, 48px) min(2.1rem, 31px);
    background-position: center right;

    @media (min-width: @desktop) {
      background-size: min(3.2rem, 53px) min(2.1rem, 35px);
    }
  }

  &--phone:hover,
  &--phone:focus,
  &--phone:active {
    background-image: url("../img/sprite.svg#phone-active");
  }

  &--email:hover,
  &--email:focus,
  &--email:active {
    background-image: url("../img/sprite.svg#email-active");
  }
}

.form__label {
  font-size: min(1.7rem, 25px);
  line-height: min(1.8rem, 27px);
  font-weight: 700;

  @media (min-width: @tablet) {
    font-size: min(1.9rem, 24px);
    line-height: min(1.8rem, 23px);
  }

  @media (min-width: @desktop) {
    font-size: min(1.9rem, 32px);
    line-height: min(1.8rem, 30px);
  }
}

.form__textarea {
  margin: 0;
  width: 100%;
  height: min(14.2rem, 213px);
  resize: vertical;

  @media (min-width: @desktop) {
    width: min(70rem, 1169px);
  }
}

.form__footer {
  @media (min-width: @tablet) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: min(23rem, 293px) auto;
    align-items: center;
    text-align: right;
  }

  @media (min-width: @desktop) {
    grid-template-columns: min(23rem, 384px) auto;
    width: min(70rem, 1169px);
    margin: 0 auto;
  }
}

.form__footnote {
  margin: 0;
  margin-bottom: min(3rem, 45px);

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.form__button {
  width: 100%;

  @media (min-width: @tablet) {
    order: -1;
  }
}
