@import "../common/variables.less";

.input {
  padding: min(1.7rem, 25px) 0;
  font-family: @font-primary;
  color: @text-secondary;
  border: none;
  border-bottom: 2px solid @text-primary;
  background-color: transparent;

  @media (min-width: @desktop) {
    padding: min(1.7rem, 28px) 0;
  }

  &--special {
    padding: min(1.4rem, 21px) 0 min(2rem, 30px);
    background-repeat: no-repeat;

    @media (min-width: @desktop) {
      padding: min(1.4rem, 23px) 0 min(2rem, 33px);
    }
  }

  &--phone {
    background-image: url("../img/sprite.svg#phone");
    background-size: min(2.5rem, 37px) min(2.4rem, 36px);
    background-position: center right;

    @media (min-width: @desktop) {
      background-size: min(2.5rem, 42px) min(2.4rem, 40px);
    }
  }

  &--email {
    background-image: url("../img/sprite.svg#email");
    background-size: min(3.2rem, 48px) min(2.1rem, 31px);
    background-position: center right;

    @media (min-width: @desktop) {
      background-size: min(3.2rem, 53px) min(2.1rem, 35px);
    }
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover,
  &:active {
    border-color: #62d1ba;
  }

  &--phone:hover,
  &--phone:active {
    background-image: url("../img/sprite.svg#phone-active");
  }

  &--email:hover,
  &--email:active {
    background-image: url("../img/sprite.svg#email-active");
  }
}
