@import "../common/variables.less";

.logo {
  width: min(8.6rem, 129px);
  height: min(3.5rem, 52px);

  @media (min-width: @tablet) {
    width: min(11.3rem, 144px);
    height: min(4.6rem, 59px);
  }

  @media (min-width: @desktop) {
    width: min(14.9rem, 249px);
    height: min(7.2rem, 120px);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
