@import "../common/variables.less";
@import "../common/mixins.less";
@import "../common/animation.less";

.navigation {
  z-index: 3;

  &--open {
    @media (max-width: @mobile) {
      position: absolute;
      width: 100%;
      background-color: @color-primary;
    }

    & .navigation__list {
      @media (max-width: @mobile) {
        display: block;
      }
    }
  }

  @media (min-width: @tablet) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;

    &::after {
      content: "";
      position: absolute;
      left: -50px;
      bottom: 0;
      width: calc(100% + 100px);
      height: 1px;
      grid-row: 1 / 2;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  @media (min-width: @desktop) {
    grid-template-columns: min(40.8rem, 681px) min(29.2rem, 487px) auto;
  }
}

.navigation__hat {
  position: relative;
  display: flex;
  align-items: center;
  padding: min(2.2rem, 33px) 0;

  @media (max-width: @mobile) {
    width: calc(100% - 60px);
    margin: 0 auto;
  }

  @media (min-width: @tablet) {
    grid-column: 1 / 2;
    padding: min(2.2rem, 28px) 0 min(2.1rem, 27px);
  }

  @media (min-width: @desktop) {
    grid-column: 2 / 3;
    padding: min(0.9rem, 15px) 0 min(0.8rem, 13px);
  }

  &::after {
    @media (max-width: @mobile) {
      content: "";
      position: absolute;
      left: -30px;
      bottom: 0;
      width: calc(100% + 60px);
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.navigation__logo {
  margin: 0 auto;

  @media (min-width: @tablet) {
    margin: 0;
  }

  @media (min-width: @desktop) {
    margin-left: min(4.2rem, 70px);
  }
}

.navigation__button {
  position: relative;
  width: min(2rem, 30px);
  height: min(1.4rem, 21px);
  margin-left: max(-2rem, -30px);
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet) {
    display: none;
  }
}

.navigation__toggle,
.navigation__toggle::before,
.navigation__toggle::after {
  position: absolute;
  width: min(2rem);
  height: min(0.2rem);
  background-color: #231f20;
  transition: 0.3s;
}

.navigation__toggle {
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  &::before {
    content: "";
    top: max(-0.5rem, -8px);
    left: 0;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &::after {
    content: "";
    right: 0;
    bottom: max(-0.5rem, -8px);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.navigation__toggle--open {
  background-color: transparent;

  &::before {
    content: "";
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  &::after {
    content: "";
    bottom: 0;
    width: 100%;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}

.navigation__list {
  .list-reset();

  @media (max-width: @mobile) {
    display: none;
  }

  @media (min-width: @tablet) {
    grid-column: 1 / 2;
    display: flex;
  }

  @media (min-width: @desktop) {
    grid-column: 1 / 2;
  }

  & .navigation__link {
    @media (min-width: @desktop) {
      padding: min(1.9rem, 32px) 0;
    }
  }

  /* stylelint-disable */
  //main
  &--main {
    @media (min-width: @tablet) {
      gap: min(3.6rem, 46px);
    }

    & .navigation__link {
      @media (min-width: @tablet) {
        padding: min(2rem, 25px) 0;
      }

      @media (min-width: @desktop) {
        padding: min(3.3rem, 55px) 0 min(3.1rem, 52px);
      }
    }

    & .navigation__item:not(:first-child) {
      @media (min-width: @desktop) {
        padding-left: min(3.5rem, 58px);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  //user
  &--user {
    @media (min-width: @tablet) {
      grid-column: 2 / 3;
    }

    @media (min-width: @desktop) {
      grid-column: 3 / 4;
    }

    & .navigation__item {
      @media (min-width: @tablet) {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    & .navigation__link {
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        left: 32px;
        top: 50%;
        transform: translateY(-50%);
        width: min(1.8rem, 27px);
        height: min(1.8rem, 27px);
        background-color: rgba(0, 0, 0, 0.2);

        @media (min-width: @tablet) {
          position: static;
          margin: 0;
          transform: none;
        }

        @media (min-width: @desktop) {
          width: min(1.8rem, 30px);
          height: min(1.8rem, 30px);
        }
      }

      &:hover::before,
      &:focus::before {
        background-color: @color-accent;
      }

      &--search {
        &::before {
          mask: url("../img/sprite.svg#search") no-repeat center;
        }

        @media (min-width: @tablet) {
          padding: min(3.6rem, 46px) min(3.1rem, 39px) min(3.4rem, 43px) min(3.3rem, 42px);
        }

        @media (min-width: @desktop) {
          padding: min(3.6rem, 60px) min(3.1rem, 52px) min(3.4rem, 57px) min(3.3rem, 55px);
        }
      }

      &--basket {
        &::before {
          mask: url("../img/sprite.svg#basket") no-repeat center;

          @media (min-width: @tablet) {
            margin-right: min(3.2rem, 41px);
          }
        }

        @media (min-width: @tablet) {
          font-size: min(1.7rem, 22px);
          padding: min(3.3rem, 42px) 0 min(3.1rem, 39px) min(3.3rem, 42px)
        }

        @media (min-width: @desktop) {
          font-size: min(1.7rem, 28px);
          padding: min(3.3rem, 55px) 0 min(3.1rem, 51px) min(3.3rem, 55px)
        }
      }
    }
  }

  //proposal
  &--proposal {
    @media (max-width: 1023px) {
      display: none !important;
    }

    @media (min-width: @desktop) {
      grid-column: 1 / 2;
      gap: min(6.2rem, 103px);
    }

    & .navigation__link {
      @media (min-width: @desktop) {
        font-size: min(1.5rem, 25px);
        line-height: min(2.4rem, 40px);
      }
    }
  }
}
/* stylelint-enable */

.navigation__text-link {
  @media (min-width: @tablet) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.navigation__item {
  position: relative;

  &::after {
    @media (max-width: @mobile) {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #ececec;
    }
  }
}

.navigation__link {
  display: flex;
  padding: min(2.9rem, 43px) min(3rem, 45px) min(2.6rem, 39px) min(7.6rem, 114px);
  font-size: min(1.7rem, 25px);
  line-height: min(2.4rem, 36px);
  font-weight: 700;
  color: @text-primary;
  text-decoration: none;

  @media (min-width: @tablet) {
    padding: min(2rem, 25px) 0;
    font-size: min(1.5rem, 19px);
  }

  @media (min-width: @desktop) {
    padding: min(2rem, 32px) 0;
    font-size: min(1.7rem, 25px);
    line-height: min(2.4rem, 40px);
  }

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__benefit {
  @media (max-width: @mobile) {
    display: none;
  }

  @media (min-width: @tablet) {
    grid-column: 2 / 3;
    margin: 0;
    padding: min(2rem, 25px) 0;
    font-size: min(1.5rem, 19px);
    line-height: min(2.4rem, 31px);
    color: @text-secondary;
    text-align: right;
  }

  @media (min-width: @desktop) {
    grid-column: 3 / 4;
    padding: min(2rem, 33px) 0;
    font-size: min(1.5rem, 25px);
    line-height: min(2.4rem, 40px);
  }
}
