@import "../common/variables.less";

.page {
  font-family: @font-primary;
  font-size: calc(100vw / 320 * 10);

  @media (min-width: @tablet) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (min-width: @desktop) {
    font-size: calc(100vw / 1150 * 10);
  }
}

.page__body {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 2080px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: @color-primary;
  color: @text-primary;
}

.page__header {
  min-height: min(7.9rem, 118px);
}

.page__hero {
  @media (min-width: @tablet) {
    margin-top: max(-6.5rem, -83px);
  }

  @media (min-width: @desktop) {
    margin-top: max(-6.5rem, -108px);
  }
}

.page__modal {
  max-width: 100%;
  width: min(32rem, 480px);

  @media (min-width: @tablet) {
    width: min(56.6rem, 722px);
  }

  @media (min-width: @desktop) {
    width: min(56.6rem, 945px);
  }
}

.page__catalog {
  @media (min-width: @tablet) {
    margin-top: max(-6.5rem, -83px);
  }

  @media (min-width: @desktop) {
    margin-top: max(-6.5rem, -108px);
  }
}

.page__process {
  margin-bottom: min(5.8rem, 87px);

  @media (min-width: @tablet) {
    margin-bottom: min(6.4rem, 82px);
  }

  @media (min-width: @desktop) {
    margin-bottom: min(10.3rem, 175px);
  }
}
