@import "../common/variables.less";
@import "../common/mixins.less";


.pagination {
  .list-reset();
  display: flex;
}

.pagination__item {
  flex-grow: 1;
}

.pagination__button {
  width: 100%;
  height: min(5.2rem, 76px);
  padding: 0;
  background-color: @color-primary;
  background-repeat: no-repeat;
  background-position: center;
  background-size: min(5rem, 75px) min(2.6rem, 39px);
  border: 1px solid #ececec;
  cursor: pointer;

  &--left {
    background-image: url("../img/sprite.svg#arrow-left");
  }

  &--right {
    background-image: url("../img/sprite.svg#arrow-right");
  }

  @media (min-width: @tablet) {
    height: min(5.6rem, 71px);
    border: none;
  }

  @media (min-width: @desktop) {
    height: min(6rem, 100px);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
