@import "../common/variables.less";

.process__wrapper {
  padding: min(2.1rem) 0 min(3.3rem);
  border: 1px solid #ececec;
}

.process__title {
  display: flex;
  align-items: center;
  gap: min(2.5rem);
  margin: 0;
  margin-left: min(3.4rem);
  margin-bottom: min(2.6rem);
  font-size: min(1.7rem);
  line-height: min(2.4rem);
  font-weight: 700;

  &::before {
    content: "";
    display: block;
    width: min(3.2rem);
    height: min(2.2rem);
    background-image: url("../img/sprite.svg#video");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.process__video {
  width: 100%;
  height: min(15rem);
  margin-bottom: min(3.5rem);
}

.process__description {
  width: min(19.5rem);
  margin: 0 auto;
  margin-bottom: min(4.1rem);
  font-size: min(1.3rem);
  line-height: min(2.4rem);
  color: @text-secondary;
}

.process__button {
  width: min(19.2rem);
  margin: 0 auto;
}
