@import "../common/variables.less";

.process__wrapper {
  display: grid;
  grid-template-columns: min(3.2rem, 51px) auto min(3.2rem, 51px);
  padding: min(2.1rem, 31px) 0 min(3.3rem, 49px);
  border: 1px solid #ececec;

  @media (min-width: @tablet) {
    grid-template-columns: min(4.1rem, 53px) auto min(4.1rem, 53px);
    padding: 0;
    padding-bottom: min(4.6rem, 59px);
  }

  @media (min-width: @desktop) {
    grid-template-columns: min(68.2rem, 1140px) auto;
    column-gap: min(7.9rem, 132px);
    padding: 0;
    padding-right: min(5.6rem, 95px);
  }
}

.process__title {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  gap: min(2.5rem, 37px);
  margin: 0;
  margin-bottom: min(2.7rem, 39px);
  font-size: min(1.7rem, 25px);
  line-height: min(2.4rem, 36px);
  font-weight: 700;

  @media (min-width: @tablet) {
    gap: min(3.3rem, 42px);
    margin-bottom: min(2.4rem, 31px);
    font-size: min(2rem, 25px);
    line-height: min(2.4rem, 31px);
  }

  @media (min-width: @desktop) {
    flex-direction: column;
    align-items: start;
    gap: min(2.7rem, 45px);
    margin-top: min(4.7rem, 78px);
    margin-bottom: min(2.7rem, 45px);
    font-size: min(2rem, 33px);
    line-height: min(2.4rem, 40px);
  }

  &::before {
    content: "";
    display: block;
    min-width: min(3.2rem, 50px);
    height: min(2.2rem, 33px);
    background-image: url("../img/sprite.svg#video");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: @tablet) {
      width: min(3.2rem, 60px);
      height: min(2.2rem, 37px);
    }
  }
}

.process__video {
  grid-column: 1 / -1;
  width: 100%;
  height: min(15rem, 225px);
  margin-bottom: min(3.4rem, 52px);

  @media (min-width: @tablet) {
    order: -1;
    height: min(45.5rem, 580px);
    margin-bottom: min(4.1rem, 52px);
  }

  @media (min-width: @desktop) {
    grid-column: 1 / 2;
    grid-row: span 4;
    height: min(45.5rem, 760px);
    margin-bottom: 0;
  }
}

.process__description {
  grid-column: 2 / 3;
  margin: 0 auto;
  margin-bottom: min(4.1rem, 61px);
  font-size: min(1.3rem, 19px);
  line-height: min(2.4rem, 36px);
  color: @text-secondary;

  @media (min-width: @tablet) {
    margin-bottom: min(4rem, 51px);
    font-size: min(1.5rem, 19px);
    line-height: min(3rem, 38px);
  }

  @media (min-width: @desktop) {
    margin-bottom: min(5.1rem, 85px);
    font-size: min(1.5rem, 25px);
    line-height: min(3rem, 50px);
  }
}

.process__button {
  grid-column: 2 / 3;
  width: 100%;
}
